.screen {
  height: 677px;
  width: 315px;
  background-image: url(https://i.pinimg.com/originals/16/88/16/168816ac1464f9cc93a2a71f75b03eb5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 30px;
  position: relative;
}

.screen__filter {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.origin {
  height: 693px;
  margin-top: 21px;
}
